body {
    background-color: #EEF7FF;
    margin: 0;
    color: #000000;
}

h1, h2 {
    text-align: center;
}

html {
    scroll-behavior: smooth;
}

section {
    scroll-margin-top: 300px;
}

h1 {
    font-size: 120px;
}

h2 {
    font-size: 60px;
}

.history {
    font-size: 60px;
    width: 60%;
}

.navbar {
    background-color: #7AB2B2;
    display: flex;
    align-items: center;
    padding: 30px 0;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.link {
    margin-left: 40px;
    font-size: 50px;
    text-decoration: none;
    background-color: #CDE8E5;
    color: #000;
    padding: 30px 80px;
    border-radius: 50px;
    transition: transform 0.3s ease;
}

.link:hover {
    transform: scale(1.1);
}

.baller {
    width: 120px;
    height: 120px;
    border-radius: 10px;
    margin-left: 40px;
}

.korobka {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    gap: 50px;
}

.hcenter {
    display: flex;
    justify-content: center;
}

img {
    width: 400px;
    height: auto;
    border-radius: 100%;
}

.skills {
    font-size: 60px;
}

.dreams {
    font-size: 60px;
}

.hz {
    display: flex;
    justify-content: center;
    gap: 50px;
}
